.App {
  text-align: center;
  border: 1px solid black;
  margin: 25px;
  padding: 25px;

  .box {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
  }

  .another {
    padding: 25px;
  }
}
